@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-error {
  background-color: red;
  color: black;
  font-style: italic;
  padding: 20px 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: 26px;
  margin-right: auto;
  margin-left: auto;
}

.title-app {
  color: blue;
  display: flex;
  font-size: 36px;
  justify-content: center;
}

.post {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  margin-bottom: 10px;
  cursor: pointer;
}

.post-id {
  width: 70px;
  padding: 20px;
}

.post-title {
  padding-left: 15px;
  width: 370px;
  padding-right: 20px;
}

.post-body {
  padding-left: 15px;
  width: 700px;
}

.modal-close {
  position: fixed;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #000;
  top: 20px;
  right: 20px;
  background: rgba(126, 126, 99, 0.362);
  border: none;
  border-radius: 2px;
  font-weight: 700;
}

/* .buttonType {
  margin-top: 35px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .buttonType::active {
  background-color: rgba(55, 55, 55, 0.7);
  color: #fff;
} */

/* .button-type {
  border: 2px solid black;
  border-radius: 4px;
  background-color: aquamarine;
  width: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
} */
